

* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  }

:root {
--whitemodeBG: #2435;
--whitemodeTEXT: #2435;

--darkmodeBG: #2435;
--darkmodeTEXT: #2435;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: green;

}

.editor-container {
  max-width: 80vw;
}

.editor-container__btn {
  margin-top: 1rem;
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.editor-container__btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

/* button is copy pasted from this website https://copy-paste-css.com/ */

